header {
	background-color: #00b454;
	height: 400px;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
}

.wrapper {
	width: 100%;
}

header h1 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 10em;
	padding-top: 260px;
	color: white;

}

h2 {
	width: 90%;
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	text-align: center;
	margin: 0 auto;
	line-height: 1.2em;
	margin-top: 30px;
	color: #00b454;
}





@media screen and (min-width: 600px) {
	header h1 {
		font-size: 20em;
		padding-top: 125px;
	}

	h2 
}

@media screen and (min-width: 920px) {

	header {
		height: 500px;
	}
	header h1 {
		font-size: 30em;
		padding-top: 80px;
	}
}